<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script layout:fragment="script" th:inline="javascript">

		function checkBoxValues(count)
		{
			var bin = 0
			array = [];
			for (let i=0;i<count;i++)
				{
					let nameCB='cb'+i;
				 	let checkBox = document.getElementById(nameCB);
					array[i] = checkBox.checked;
					if(checkBox.checked)
					{
						bin=bin+2 ** i;
					}

				}
			
			document.getElementById('Ergebnis').innerHTML = bin;	
			
			
			
		}
		
		
        function configureTP()
        {
       		var htmlString = '';
       		

    		/*<![CDATA[*/
       	    var array = /*[[${trainingDaysConf}]]*/ [];
            /*]]>*/

		for(let i= 0; i< array.length; i++)
			{
			 htmlString += '<b>' + array[i].id + '</b><input type="checkbox" id="cb'+i+'" onclick="checkBoxValues(' + array.length + ')"><br/>' ;
			 
			 htmlString += '<b>HIIT Exercises</b>';
			 
			 htmlString += '<table><tr><th>ID</th><th>name</th></tr>';
			 for(let j= 0; j< array[i].exercise.length;j++)
			{
				 htmlString += '<tr><td>'+array[i].exercise[j].id+'</td><td>'+array[i].exercise[j].name+'</td></tr>';
			}
			 
			 
			 htmlString += '</table>';
			
            
            htmlString += '<b>Body Building Exercises</b>';
            
		htmlString += '<table><tr><th>ID</th><th>name</th></tr>';
		 for(let k= 0; k< array[i].exerciseBuild.length;k++)
		{
			 htmlString += '<tr><td>'+array[i].exerciseBuild[k].id+'</td><td>'+array[i].exerciseBuild[k].name+'</td></tr>';
		}
		 
		 
		 htmlString += '</table>';
		}
            
			
			
			document.getElementById('configTable').innerHTML = htmlString;		
			
        }

		</script>


</head>
<body>

<div id="configTable">
<button th:onclick="configureTP()">test </button>
</div>


 <form method="post">
 
 	<div id="Ergebnis"/>
 	      
 	<input type="submit" value="Submit" class="btn btn-primary" />
 
 </form>
</body>
</html>
