<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script layout:fragment="script" th:inline="javascript">

        function configureTP()
        {
       		let htmlString = '';
       		
        	const map = new Map(Object.entries(/*[[${trainingDaysConf}]]*/));
        	const iterator1 = map.values();
        	var array = [];

        	var bbex = [];
        	var ex= []
       		var i = 1;

			while(array[i]=iterator1.next().value)
       		{
		
				i++;
       		}
			
			
			for (let m = 0; m < array.lenght; m++) {
			  bbex[m] = [];
			  for (let n = 0; n < array[m].exerciseBuild.length; n++) {
			    bbex[m][n] = array[m].exerciseBuild[n].name;
			  }
			}
			
			for (let m = 0; m < array.lenght; m++) {
				  ex[m] = [];
				  for (let n = 0; n < array[m].exercise.length; n++) {
				    ex[m][n] = array[m].exercise[n].name;
				  }
				} 

			for (let m=0; m < array.length; m++)
			{
				htmlString += '<h1>'+array[m].id +'</h1>'
			}
			
			document.getElementById('configTable').innerHTML = htmlString;		
			
        }

		</script>


</head>
<body>

<div id="configTable">
<button th:onclick="configureTP()">test </button>
</div>
    
</body>
</html>


