<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script layout:fragment="script" th:inline="javascript">

		var plan;
		
		function checkBoxValues(count)
		{
			var j = 0;
			var bin = 0
			array = [];
			array2 = []
			for (let i=0;i<count;i++)
				{
					let nameCB='cb'+i;
				 	let checkBox = document.getElementById(nameCB);
					array[i] = checkBox.checked;
					if(checkBox.checked)
					{
						bin=bin+2 ** i;
						array2[j]= array[i];
						j++;
					}

				}
			
			document.getElementById('Ergebnis').innerHTML = bin;	
			
			plan = new Object({
			  "trainingDays":array2
			});
			
		}
		
		
        function configureTP()
        {
       		var htmlString = '';
       		

    		/*<![CDATA[*/
       	    var array = /*[[${trainingDaysConf}]]*/ [];
            /*]]>*/

		for(let i= 0; i< array.length; i++)
			{
			 htmlString += '<b>' + array[i].id + '</b><input type="checkbox" id="cb'+i+'" onclick="checkBoxValues(' + array.length + ')"><br/>' ;
			 
			 htmlString += '<b>HIIT Exercises</b>';
			 
			 htmlString += '<table><tr><th>ID</th><th>name</th></tr>';
			 for(let j= 0; j< array[i].exercise.length;j++)
			{
				 htmlString += '<tr><td>'+array[i].exercise[j].id+'</td><td>'+array[i].exercise[j].name+'</td></tr>';
			}
			 
			 
			 htmlString += '</table>';
			
            
            htmlString += '<b>Body Building Exercises</b>';
            
		htmlString += '<table><tr><th>ID</th><th>name</th></tr>';
		 for(let k= 0; k< array[i].exerciseBuild.length;k++)
		{
			 htmlString += '<tr><td>'+array[i].exerciseBuild[k].id+'</td><td>'+array[i].exerciseBuild[k].name+'</td></tr>';
		}
		 
		 
		 htmlString += '</table>';
		}
            
			
			
			document.getElementById('configTable').innerHTML = htmlString;		
			
        }

        
        var form = document.getElementById('myForm');
        form.onsubmit = function(event){
                var xhr = new XMLHttpRequest();
                var formData = new FormData(plan);
                //open the request
                xhr.open('POST','http://localhost:8080/configureTPlans/')
                xhr.setRequestHeader("Content-Type", "application/json");

                //send the form data
                xhr.send(JSON.stringify(Object.fromEntries(formData)));

                xhr.onreadystatechange = function() {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        form.reset(); //reset form after AJAX success or do something else
                    }
                }
                //Fail the onsubmit to avoid page refresh.
                return false; 
            }
	

		</script>


</head>
<body>

<div id="configTable">
<button th:onclick="configureTP()">test </button>
</div>


 <form id="myForm" method="post">
 
 	<div id="Ergebnis"></div>
 	      
 	<input type="submit" value="Submit" class="btn btn-primary" />
 
 </form>
</body>
</html>
