       			<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Select muscles</title>
</head>
<body>
  
   <form method="post">


  
    <select  th:field="*{muscleIds}" ID="txtCategoryName" class="m-wrap large" multiple="multiple">
    <option th:each="muscle : ${muscles}" th:value="${muscle.get('id')}" th:text="${muscle.get('name')}" ></option>
 </select>               
                      
  
   
      
             
             

         
<!--    <button type="submit" class="btn btn-primary">Sign in</button> -->

<input type="submit" value="Submit" class="btn btn-primary" />
</form>
</body>


</html>
