<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>
	<form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
       <input type="submit" class="btn btn-primary" value="Logout" />
       <a href="/addUser">add user</a>
    </form>
	<table>
    	<tr>
        	<th>Id</th>
            <th>Training Day</th>
            <th>delete</th>
        </tr>
        <tr th:each="TD, stat :${trainingDays}">
             <td th:text = "${TD.id}"></td>
             <td> <a th:href="@{/show/{id}(id=${TD.id})}">open</a></td>
             <td> <a th:href="@{/delete/{id}(id=${TD.id})}">delete</a></td>

        </tr>
     </table>
     <a href="/">add</a>
</body>
</html>