<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>selected muscles</title>
</head>
<body>
    
	 <form method="post">
	 <table>
            <tr>
               <th>Id</th>
                <th>Name</th>
            </tr>
            <tr th:each="equip, stat :${resultEq}">
                 <td th:text = "${equip.id}"></td>
                 <td th:text = "${equip.name}"></td>
            
            </tr>
            </table>
            
            <br>
            
             <a href="/selectTE/">add</a>
              <a href="/delete/">delete</a>
              <!--<a href="/exerc/"  type="submit" value="Submit" >exercises</a>
              <a href="/exercB/"  type="submit" value="Submit" >body building exercises</a>-->
             
             <br>
             
              <input type="submit" value="Submit" class="btn btn-primary" />
     </form>
</body>
</html>