<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>selected muscles</title>
</head>
<body>
    <div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>
				
                          <a href="/logout">logout</a>
                            <a href="/addUser">add user</a>
              
                 <form method="post">
	 <table>
            <tr>
               <th>Id</th>
                <th>Name</th>
            </tr>
            <tr th:each="muscle, stat :${resultMuscles}">
                 <td th:text = "${muscle.id}"></td>
                 <td th:text = "${muscle.name}"></td>
            
            </tr>
            </table>
            
            <br>
            
             <a href="/select/">add</a>
              <a href="/delete/">delete</a>
              <!--<a href="/exerc/"  type="submit" value="Submit" >exercises</a>
              <a href="/exercB/"  type="submit" value="Submit" >body building exercises</a>-->
             
             <br>
             
             <input type="number" min="1" th:field="${count.count}"> 
              <input type="submit" value="Submit" class="btn btn-primary" />
     </form>
</body>
</html>