<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>selected muscles</title>
</head>
<body>
	 <form method="post">
	 <table>
            <tr>
               <th>Id</th>
                <th>Name</th>
            </tr>
            <tr th:each="muscle, stat :${resultMuscles}">
                 <td th:text = "${muscle.id}"></td>
                 <td th:text = "${muscle.name}"></td>
            
            </tr>
            </table>
            
            <!-- <input type="number" min="1" th:field="*{count}">-->
            
              <a href="/select/">add</a>
              <a href="/delete/">delete</a>
              <a href="/exerc/">exercises</a>
              <a href="/exercB/">body building exercises</a>
              
              <!-- <input type="submit" value="Submit" class="btn btn-primary" />-->
     </form>
</body>
</html>