<!DOCTYPE html>
<html>
<head>
<script layout:fragment="script" th:inline="javascript">
var time;
var isTraining ;

const delay = ms => new Promise(res => setTimeout(res, ms));

function init(){
	time = 45;
	isTraining = true;
}

async function hiit(){
	time = 45;
	isTraining = true;

		while(time >0)
		{
			await delay(1000);
			document.getElementById('container').innerHTML = "training: "+time;
			time--
		}
		isTraining=false;
		time = 15;
		while(time >0)
		{
			await delay(1000);
			document.getElementById('container').innerHTML = "pause: "+time;
			time--
		}
}
</script>
<meta charset="UTF-8">
<title>HIIT</title>
</head>
<body>
<h1>HIIT training</h1>
<p id="container">training: 45s</p>
<button th:onclick="hiit()">start</button>
</body>
</html>